@import url('comment_insert.css');


*{
    margin: 0px;
    padding:0px;
    font-family:arial;
}

body{
    background: #c7c7c7;
}

a img{
    border:none;
}

.wrapper{
    background: #fff;
    width: 750px;
    border:1px solid #a1a1a1;
    margin: 10px auto 10px auto;
    height: auto;
}
.page-data
{
    width: auto;
    height: 50px;
    color: #666;
    margin: 10px;
    border-bottom: 1px solid #e1e1e1;
}
.comment-wrapper
{
margin: 10px;
border: 1px solid #e1e1e1;
height:auto;
width: auto;
color: #444;
       
}
h3.comment-title
{
    height: 40px;
    line-height: 37px;
    font-size: 14px;
    margin:0 5px 0 5px;
    color:#555;
    border-bottom: 1px solid #e1e1e1;
}

.comments-list
{
    height: auto;
    font-size: 13px;
    margin: 10px 5px 5px 5px;
    color:#555;
    
}
ul.comment-holder-ul
{
    list-style-type: none;
    margin:0px;
    padding: 0px;
    height:auto;
    width: auto;
    overflow: hidden;
}
ul.comment-holder-ul li.comment-holder
{
    list-style-type: none;
    height:auto;
    width: auto;
    margin: 5px 0 10px 0;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    position: relative;
}   

ul.comment-holder-ul li.comment-holder:hover
{
   border:1px solid #c1c1c1; 
}



ul.comment-holder-ul li.comment-holder .usr-img
{
    float: left; 
    width: 65px;
    height:65px;
    background: #a1a1a1;
    margin-right: 5px;
}
ul.comment-holder-ul li.comment-holder .usr-img img.usr-img-pic
{
    width: 55px;
    height: 55px;
    margin: 5px 5px 5px 5px;
}

ul.comment-holder-ul li.comment-holder .usr-img img.usr-img-pic:hover
{
    border: 1px solid #818181;
}
ul.comment-holder-ul li.comment-holder h3.usrnm
{
   height: 25px;
   line-height: 27px;
   color: #2e5cb8;
   font-size:14px;
   margin:0 0 0 10px;
   
}

ul.comment-holder-ul li.comment-holder h3.usrnm:hover
{
    color: #254a93;
}
.comment-body
{
    width: auto;
}
ul.comment-holder-ul li.comment-holder .comment-text
{
display:block;
width: auto;
font-size: 13px;
margin:0 10px 5px 75px;
word-wrap: normal;
}
ul.comment-holder-ul li.comment-holder:hover .comment-button-hldr
{
    display: block;
}
.comment-button-hldr
{
    display: none;
    position: absolute;
    top:0px;
    right:0px;
    width:50px;
    height:25px;
   
    
    
}
.comment-button-hldr ul
{
    
    list-style-type: none;
    width: auto;
    height: auto;
    overflow: hidden;
}
.comment-button-hldr ul li
{
float: right;
height: 20px;
width: 20px;
color:#fff;
background:#2e5cb8; 
text-align: center;
cursor: pointer;
}
.comment-button-hldr ul li:hover
{
    color: #444;
    background: #6D8dcd;
}